<?xml version="1.0" encoding="UTF-8"?>
 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:SchemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID"
	version="4.0">
	
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>Echoer</servlet-name>
  	<display-name>Echoer</display-name>
  	<description></description>
  	<servlet-class>com.example.dobri.SimpleEchoer.Echoer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Echoer</servlet-name>
  	<url-pattern>/Echoer</url-pattern>
  </servlet-mapping>
  
  <login-config>
  	<auth-method>FORM</auth-method>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/Echoer</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- Role Everyone will not be assignable -->
      <role-name>Everyone</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>All SAP Cloud Platform users</description>
    <role-name>Everyone</role-name>
  </security-role>
</web-app>
